Repository DurgNomis-drol/ha_toyota: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml, ruff-check, ruff-format

check-json:
  name: ğŸ› Check for forgotten debug statemens
  language: system
  entry: poetry run debug-statement-hook

check-toml:
  name: âœ… Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: âœ… Check YAML files
  language: system
  entry: poetry run check-yaml

ruff-check:
  name: ğŸ¶ Ruff Linter
  language: system
  entry: poetry run ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: ğŸ¶ Ruff Formatter
  language: system
  entry: poetry run ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

poetry update
  custom_components/toyota/manifest.json
  poetry.lock
  pyproject.toml
Due: check-json, check-toml

Bump mytoyota to 2.1.4
  custom_components/toyota/manifest.json
Due: check-json

Bump `mytoyota` to `2.1.4`
  custom_components/toyota/manifest.json
  poetry.lock
  pyproject.toml
Due: check-json, check-toml

Update custom_components/toyota/manifest.json
  custom_components/toyota/manifest.json
Due: check-json

Update pyproject.toml
  pyproject.toml
Due: check-toml

Update lock file
  poetry.lock
Due: none

Use `^2.1.4` rather than a fixed version
  custom_components/toyota/manifest.json
  poetry.lock
  pyproject.toml
Due: check-json, check-toml

Bump integration version
  custom_components/toyota/manifest.json
Due: check-json

Bump `mytoyota` to `2.1.4` (#289)
  custom_components/toyota/manifest.json
  poetry.lock
  pyproject.toml
Due: check-json, check-toml

update homeassistant-stubs
  poetry.lock
  pyproject.toml
Due: check-toml

Remove `suggested_unit_of_measurement` attributes
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

Non-blocking call to load MyT
  custom_components/toyota/__init__.py
Due: check-json, ruff-check, ruff-format

linting
  custom_components/toyota/__init__.py
Due: check-json, ruff-check, ruff-format

linting v2 using poetry
  custom_components/toyota/__init__.py
Due: check-json, ruff-check, ruff-format

Revert "Remove `suggested_unit_of_measurement` attributes"
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

add explicit suggested_unit_of_measurement
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

Non-blocking call to load MyT (#293)
  custom_components/toyota/__init__.py
Due: check-json, ruff-check, ruff-format

set explicit `native_unit` and `suggested_unit`
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

bump version to 2.0.5
  custom_components/toyota/manifest.json
Due: check-json

Remove `suggested_unit_of_measurement` attributes (#292)
  custom_components/toyota/manifest.json
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

add Polish language pack
  custom_components/toyota/translations/pl.json
Due: check-json

bump version to 2.0.6
  custom_components/toyota/manifest.json
Due: check-json

Add polish translation (#304)
  custom_components/toyota/manifest.json
  custom_components/toyota/translations/pl.json
Due: check-json

🌐 fix spanish translations
  custom_components/toyota/translations/es.json
Due: check-json

:arrow_up: bump version to 2.0.7
  custom_components/toyota/manifest.json
Due: check-json

Create it.json
  custom_components/toyota/translations/it.json
Due: check-json

🌐 fix spanish translations (#317)
  custom_components/toyota/manifest.json
  custom_components/toyota/translations/es.json
Due: check-json

Create it.json (#326)
  custom_components/toyota/translations/it.json
Due: check-json

Workflow permission fixes
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/update-manifest.yml
Due: check-yaml

update readme
  README.md
Due: none

Update info.md
  info.md
Due: none

Path conditions:
  check-json: (any of: \.json$) or (any of: \.py$)
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
