Repository DurgNomis-drol/ha_toyota: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml, ruff-check, ruff-format

check-json:
  name: ğŸ› Check for forgotten debug statemens
  language: system
  entry: poetry run debug-statement-hook

check-toml:
  name: âœ… Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: âœ… Check YAML files
  language: system
  entry: poetry run check-yaml

ruff-check:
  name: ğŸ¶ Ruff Linter
  language: system
  entry: poetry run ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: ğŸ¶ Ruff Formatter
  language: system
  entry: poetry run ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

Use Mapping for brand names
  custom_components/toyota/const.py
  custom_components/toyota/entity.py
  custom_components/toyota/utils.py
  poetry.lock
Due: check-json, ruff-check, ruff-format

create odometer only when telemetry capable
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

Update French translations
  custom_components/toyota/translations/fr.json
Due: check-json

Update French translations (#203)
  custom_components/toyota/translations/fr.json
Due: check-json

Use same condition for ev vehicles like in mytoyota lib
  custom_components/toyota/sensor.py
  custom_components/toyota/utils.py
Due: check-json, ruff-check, ruff-format

use same condition for last_parked like in mytoyota lib
  custom_components/toyota/device_tracker.py
Due: check-json, ruff-check, ruff-format

create statistics sensors by default for now
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

Use new mytoyota api endpoints (#198)
  README.md
  custom_components/toyota/__init__.py
  custom_components/toyota/binary_sensor.py
  custom_components/toyota/config_flow.py
  custom_components/toyota/const.py
  custom_components/toyota/device_tracker.py
  custom_components/toyota/entity.py
  custom_components/toyota/manifest.json
  custom_components/toyota/sensor.py
  custom_components/toyota/translations/ca.json
  custom_components/toyota/translations/da.json
  custom_components/toyota/translations/de.json
  custom_components/toyota/translations/en.json
  custom_components/toyota/translations/es.json
  custom_components/toyota/translations/fr.json
  custom_components/toyota/translations/nb.json
  custom_components/toyota/translations/nl.json
  custom_components/toyota/utils.py
  poetry.lock
  pyproject.toml
Due: check-json, check-toml, ruff-check, ruff-format

update release drafter
  .github/release-drafter.yml
Due: check-yaml

Update info.md and readme.md
  README.md
  info.md
Due: none

update headings
  info.md
Due: none

remove deprecated constants
  custom_components/toyota/device_tracker.py
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

Update `info.md` and `README.md` (#214)
  README.md
  info.md
Due: none

Enhancement: Remove constants that are deprecated in HA 2025.1 (#215)
  custom_components/toyota/device_tracker.py
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

Initiate config flow and add reauth function
  custom_components/toyota/config_flow.py
Due: check-json, ruff-check, ruff-format

remove DATA_SCHEMA
  custom_components/toyota/config_flow.py
Due: check-json, ruff-check, ruff-format

add logger
  custom_components/toyota/config_flow.py
Due: check-json, ruff-check, ruff-format

set default metric values setting to true
  custom_components/toyota/config_flow.py
Due: check-json, ruff-check, ruff-format

add more logging regarding metric values
  custom_components/toyota/__init__.py
  custom_components/toyota/config_flow.py
Due: check-json, ruff-check, ruff-format

call for config entry inside get function
  custom_components/toyota/__init__.py
Due: check-json, ruff-check, ruff-format

update logging
  custom_components/toyota/__init__.py
Due: check-json, ruff-check, ruff-format

get metric_value from coordinator
  custom_components/toyota/entity.py
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

log sensor entries
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

Add suggested_unit_of_measurement
  custom_components/toyota/__init__.py
  custom_components/toyota/config_flow.py
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

Simplify sensor generation
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

change statistics SensorStateClass to TOTAL
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

Rever change on statistics senosrs state_class
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

bump mytoyota to v1.3.0
  custom_components/toyota/manifest.json
  poetry.lock
  pyproject.toml
Due: check-json, check-toml

add lexus
  custom_components/toyota/const.py
Due: check-json, ruff-check, ruff-format

pin mytoyota to v2.0.0
  custom_components/toyota/manifest.json
  poetry.lock
  pyproject.toml
Due: check-json, check-toml

bump mytoyota to 2.1.0
  custom_components/toyota/manifest.json
  poetry.lock
  pyproject.toml
Due: check-json, check-toml

Enable error logging for pydantic ValidationError
  custom_components/toyota/__init__.py
Due: check-json, ruff-check, ruff-format

Enhancement: Enable error logging for pydantic `ValidationError` (#239)
  custom_components/toyota/__init__.py
Due: check-json, ruff-check, ruff-format

Fix: bump `mytoyota` to 2.1.0 and fix `shopGenuinePartsUrl` validation (#237)
  custom_components/toyota/manifest.json
  poetry.lock
  pyproject.toml
Due: check-json, check-toml

Enhancement: Add Lexus to brand mapping (#228)
  custom_components/toyota/const.py
Due: check-json, ruff-check, ruff-format

Fix: "Use metric units" toggle has no effect and simplify sensor creation (#219)
  custom_components/toyota/__init__.py
  custom_components/toyota/config_flow.py
  custom_components/toyota/entity.py
  custom_components/toyota/sensor.py
Due: check-json, ruff-check, ruff-format

bump mytoyota version to 2.1.1 and fix logging in HA
  custom_components/toyota/manifest.json
  poetry.lock
  pyproject.toml
Due: check-json, check-toml

Bump mytoyota version to 2.1.1 and fix logging in HA (#251)
  custom_components/toyota/manifest.json
  poetry.lock
  pyproject.toml
Due: check-json, check-toml

Path conditions:
  check-json: (any of: \.json$) or (any of: \.py$)
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
